<?php
#
# Fix base URL when running behind proxies, should point to public URL prefix
# $baseURL = "/public_prefix"; 
# $APIDocsURL = "/public_prefix/APIDocs.php"; 

#
# Mongo DB connection settings
#   hostname: MongodB host:port
#   userName & password required for mongoDB authentication. Read provileges required.             
$MDB_hostname = "hostname[:port]";
$MDB_userName = "mongoDBuser";
$MDB_password = "mongoDBpasswd";
$MDB_database = "database";
# Data directories

