<div class="col-md-12">
    <h1 class="panel-heading">About us</h1>
</div>
</div>
<div class="row bgblank nomargin paddingbottom20">
    <div class="col-md-6 col-md-offset-1">
        <ul class="list-unstyled">
            <li><a href="http://www.bsc.es" target="_blank"><img src="images/logoBSC_es.jpg" class="aboutlogo" ></a></li>
            <li><a href="http://www.crg.cat" target="_blank"><img src="images/logo_CRG.png" class="aboutlogo"></a></li>

        </ul>
    </div>
    <div class="col-md-5">
        <ul class="list-unstyled">
            <li><a href="http://www.sib.swiss/" target="_blank"><img src="images/SIB_LogoQ_GBv.png" class="aboutlogo"></a></li>
            <li><a href="http://www.irbbarcelona.org" target="_blank"><img src="images/IRBCN_1Vert_ANG_CMYK_10YEARS.png"  class="aboutlogo" style="height:100px"></a></li>

        </ul>
    </div>
</div>
