<div class="col-md-12">
    <h3 class="panel-heading">About us</h3>
</div>
</div>
<div class="row bgblank nomargin paddingbottom20">
    <div class="col-md-6 col-md-offset-1">
        <ul class="list-unstyled">
            <li><img src="images/logoBSC_es.jpg"></li>
            <li><img src="images/logo_CRG.png"></li>

        </ul>
    </div>
    <div class="col-md-5">
        <ul class="list-unstyled">
            <li><img src="images/SIB_LogoQ_GBv.png"></li>
            <li><img src="images/IRBCN_1Vert_ANG_CMYK_10YEARS.png" style="height:100px"></li>

        </ul>
    </div>
</div>
