<div class="panel">
    <div class="panel-heading">
        <h1>Benchmarking Challenge</h1>
        <span class="btn btn-primary"><a style="color:#fff" href="../Challenge/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="btn btn-warning"><a style="color:#fff" href="../Challenge/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>##_id##</td>
        </tr>
        <tr>
            <td>Community</td>
            <td><a href="../Community/##community_id##.html">##community_id##</a></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>##name##</td>
        </tr>
        <tr>
            <td>Automated event</td>
            <td>##is_automated##</td>
        </tr>
        <tr>
            <td>Dates</td>
            <td>
                <table class="table-condensed">
                    <tr>
                        <td>Creation</td>
                        <td>##dates.creation##</td>
                    </tr>
                    <tr>
                        <td>Last modification</td>
                        <td>##dates.modification##</td>
                    </tr>
                    <tr>
                        <td>Start event</td>
                        <td>##dates.benchmark_start##</td>
                    </tr>
                    <tr>
                        <td>Stop event</td>
                        <td>##dates.benchmark_stop##</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Contacts</td>
            <td>##challenge_contact_ids##</td>
        </tr>
        <tr>
            <td>Event URL</td>
            <td><a href="http://##url##" target="_blank">##url##</a></td>
        </tr>
        <tr>
            <td>References</td>
            <td>##references##</td>
        </tr>
        <tr>
            <td>Datasets</td>
            <td>##Datasets##</td>
        </tr>
        
        <tr>
            <td>TestActions</td>
            <td>##TestActionst##</td>
        </tr>

    </table>
</div>
