<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel">
    <div class="panel-heading">
        <h2>Community</h2>
    </div>
    <div class="panel-body">
<table class="table">
    <tr>
        <td>Acronym</td>
        <td>##_id##</td>
    </tr>
    <tr>
        <td>Community Name</td>
        <td>##name##</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>##description##</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>##status_id##</td>
    </tr>
    <tr>
        <td>Community contacts</td>
        <td>##community_contacts##</td>
    </tr>
    <tr>
        <td>Links</td>
        <td>##linksList##</td>
    </tr>
    <tr>
        <td>BenchmarkingEvents</td>
        <td>##BenchmarkingEventsList##</td>
    </tr>
    <tr>
        <td>Available Datasets</td>
        <td>##DatasetList##</td>
    </tr>
</table>
</div>
</div>