<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Community</h2>

<p><label>Acronyn</label>
    ##_id##</p>
<p><label>Name</label> ##name##</p>
<p><label>Description</label>##description##</p>
<p><label>Status</label>##status_id##</p>
    "community_contacts": [
        "Sameer.Velankar"
    ],
    "links": [
        {
            "label": "MainSite",
            "uri": "http:\/\/www.ebi.ac.uk\/msd-srv\/capri\/capri.html"
        }
    ],
    "stamp": 1487012922,
    "BenchmarkingEvents": [
        {
            "_id": "CAPRI:35"
        }
    ],
    "Datasets": [
        {
            "_id": "CAPRI:107"
        },
        {
            "_id": "CAPRI:Summary107"
        }
    ]
}
