<div class="row quicklinks nomargin">
    <div class="col-md-4">
        <h4>Quick links</h4>
    </div>
</div>
<div class="row  bg-info nomargin">

    <div class="col-md-2 col-md-offset-1">
        <h4>Benchmarking</h4>
        <ul class="list-unstyled">
            <li><a href="##baseURL##/Community.html">Communities</a></li>
            <li><a href="##baseURL##/BenchmarkingEvent.html">Events</a></li>
            <li><a href="##baseURL##/Tool.html">Tools</a></li>
            <li><a href="##baseURL##/Dataset.html">Datasets</a></li>
            <li><a href="##baseURL##/Metrics.html">Metrics</a></li>
<!--            <li><a href="##baseURL##/info.html">Statistics</a></li>-->
        </ul>
    </div>
    <div class="col-md-2">
        <h4>Tools</h4>
        <ul class="list-unstyled">
            <li><a href="http://bio.tools">ELIXIR Registry</a></li>
            <li><a href="/elixibilitas">Tools monitoring</a></li>
            <li><a href="#">Tools statistics</a></li>
            <li><a href="#">Web services registry</a></lI>
        </ul>
    </div>
    <div class="col-md-7">
        <h4><a href="about.html">About us</a></h4>
        <div class="panel panel-collapse">
            <img src="##baseURL##/images/IRBCN_1Vert_ANG_CMYK_10YEARS.png" width="40">
            <img src="##baseURL##/images/cnio.gif" width="110">

            <img src="##baseURL##/images/SIB_LogoQ_GBv.png" width="100">
            <img src="##baseURL##/images/logoBSC_es.jpg" width="100">
            <img src="##baseURL##/images/logo_CRG.png" width="60">
            <img src="##baseURL##/images/logo_inb.gif" width="60">

            <img src="##baseURL##/images/ELIXIR_logo.png" style="margin-left:10px" align="right">
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <img src="http://elixir-europe.org/global/images/eu-flag.jpg" alt="EU flag" style="float:left; width: 46px; margin: 3px 10px 0 20px;" width="45">
        ELIXIR is partly funded by the European Commission within the Research Infraestructure programme of Horizon 2020.<br>
        ELIXIR Excelerate is funded by the European Comission, contract no. 676559
    </div>
</footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="##baseURL##/js/bootstrap.min.js"></script>

</body>
</html>