</section>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="tertiary-content-wrapper">
    <div class="container clearfix">
        <div class="region region-tertiary-content">
            <div class="region-inner clearfix">
                <div id="block-block-69" class="block block-block no-title odd first last block-count-8 block-region-tertiary-content block-69 collapsiblock-processed">
                    <div class="block-inner clearfix">
                        <div class="block-content content">
                            <div class="flexrow">
                                <div class="width-40">
                                    <nav role="navigation">
                                        <h2><a>Benchmarking</a></h2>
                                        <ul class="list-unstyled">
                                            <li><a href="Community.html">Communities</a></li>
                                            <li><a href="BenchmarkingEvent.html">Events</a></li>
                                            <li><a href="Dataset.html">Datasets</a></li>
                                            <li><a href="Metric.html">Metrics</a></li>
                                            <li><a href="info.html">Statistics</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="width-40">
                                    <nav role="navigation">
                                        <h2><a>Tools</a></h2>
                                        <ul class="list-unstyled">
                                            <li><a href="https://bio.tools">ELIXIR Registry</a></li>
                                            <li><a href="/elixibilitas">Tools monitoring</a></li>
                                            <li><a href="#">Tools statistics</a></li>
                                            <li><a href="#">Web services registry</a></lI>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="width-40">
                                    <h2><a href="about.html">About us</a></h2> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-wrapper">
    <div class="container clearfix">
        <footer id="footer" class="clearfix" role="contentinfo">
            <div class="region region-footer" >
                <div class="region-inner clearfix">
                    <div id="block-block-70" class="block block-block no-title odd first last block-count-9 block-region-footer block-70 collapsiblock-processed">
                        <div class="block-inner clearfix">
                            <div class="block-content content">
                                <section>
                                    <p class="legal">Copyright © ELIXIR 2017 | <a href="https://www.elixir-europe.org/legal/privacy">Privacy</a> | <a href="https://www.elixir-europe.org/legal/cookies">Cookies</a> | <a href="https://www.elixir-europe.org/legal/terms-of-use">Terms of use</a></p>
                                </section>
                                <div class="eu"><img alt="EU flag" src="images/eu-flag-bw.jpg"> ELIXIR is partly funded by the European Commission within the Research Infraestructure programme of Horizon 2020.<br>
                                    ELIXIR Excelerate is funded by the European Comission, contract no. 676559</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</div>
</div>
</body>
</html>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
