          <footer class="footer">
                <img src="http://elixir-europe.org/global/images/eu-flag.jpg" alt="EU flag" style="float:left; width: 46px; margin: 3px 10px 0 20px;" width="45">
                ELIXIR is partly funded by the European Commission<br> within the Research Infraestructure programme of Horizon 2020.
            </footer>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="##baseURL##/js/bootstrap.min.js"></script>
        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    </body>
</html>