<div id="content" style="padding-top: 40px">              
    <div class="row bgblank nomargin">
        <div class="col-md-12">
            <p class="lead"><strong>ELIXIR Benchmarking platform</strong> will provide guidance and software infrastructure for Benchmarking and Technical Monitoring 
                of bioinformatics tools, web servers and algorithms.</p>
        </div>
        <div class="col-md-4">
            <img src="images/BenchPlat1.png" class="img-responsive center-block" style="width:80%">
        </div>
        <div class="col-md-8">
            <h4>High level activities</h4>
            <ul>
                <li>Engage with existing benchmark initiatives making different communities aware of the platform.</li>
                <li>Maintain a data warehouse infrastructure to keep record of Benchmarking initiatives.</li>
                <li>Expose benchmarking and technical monitoring results to Elixir Tools registry.</li>
                <li>Establish and refine communication protocols with communities and/or infrastructure projects willing to have a unified benchmark infrastructure</li>
                <li>Coordinate with Elixir Interoperability Platform to keep FAIR data principles on Benchmarking data warehouse.</li>
            </ul>
        </div>
    </div>

    <div class="row bgblank nomargin paddingbottom20 clearfix">
        <div class="col-md-6 text-center">
            <h2 class='center-block'>Benchmarking Data Warehouse</h2>
            <p>Results from Benchmarking</p>
            <p><a class="btn btn-elixir" href="Community.html">Access</a>
                <a class="btn btn-default" href="#">Learn more</a></p>
        </div>
        <div class="col-md-6 text-center">
            <h2 class='center-block'>Tools Monitoring Data</h2>
            <p>Data repository for technical monitoring of Elixir tools<p>
            <p><a class="btn btn-elixir" href="/elixibilitas">Access</a>
                <a class="btn btn-default" href="#">Learn more</a></p>
        </div>

    </div>    
</div>
