<div class="panel panel-default">
    <div class="panel-heading">
        <h1>idSolv</h1>
        <span class="label label-primary"><a style="color:#fff" href="##baseURL##/idsolv/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="label label-warning"><a style="color:#fff" href="##baseURL##/idsolv/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
    <table class="table">
        <tr>
            <td>Prefix</td>
            <td>##_id##</td>
        </tr>
        <tr>
            <td>URL template</td>
            <td>##URL##</a></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>##description##</td>
        </tr>
    </table>

</div>
