<div class="panel">
    <div class="panel-heading">
        <h1>Metrics</h1>
        <span class="label label-primary"><a style="color:#fff" href="##baseURL##/Metrics/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="label label-warning"><a style="color:#fff" href="##baseURL##/Metrics/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>##_id##</td>
        </tr>
        <tr>
            <td>Community</td>
            <td><a href="##baseURL##/Community/##community_id##.html">##community_id##</a></td>
        <tr>
            <td>Title</td>
            <td>##title##</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>##description##</td>
        </tr>
        <tr>
            <td>Formal definition</td>
            <td>##formal_definition##</td>
        </tr>
        </tr>
        <tr>
            <td>Contacts</td>
            <td>##metrics_contact_id##</td>
        </tr>
        <tr>
            <td>References</td>
            <td>##referencesList##</td>
        </tr>
        <tr>
            <td>Links</td>
            <td>##linksList##</td>
        </tr>
    </table>
</div>
