<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel">
    <div class="panel-heading">
        <h2>Reference</h2>
    </div>
    <div class="panel-body">
<table class="table">
    <tr>
        <td>DOI</td>
        <td><a href="https://doi.org/##_id##">##_id##</a></td>
    </tr>
    <tr>
        <td>Title</td>
        <td>##title##</td>
    </tr>
    <tr>
        <td>Authors</td>
        <td>##authorsList##</td>
    </tr>
    <tr>
        <td>PubMed Id</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/##pubmed_id##" target="_blank">##pubmed_id##</a></td>
    </tr>
    <tr>
        <td>Links</td>
        <td>##linksList##</td>
</table>
</div>
</div>