<div class="panel">
    <div class="panel-heading">
        <h1>Reference</h1>
        <span class="label label-primary"><a style="color:#fff" href="##baseURL##/Reference/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="label label-warning"><a style="color:#fff" href="##baseURL##/Reference/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
<table class="table">
    <tr>
        <td>DOI</td>
        <td><a href="##baseURL##/idsolv/DOI:##_id##">##_id##</a></td>
    </tr>
    <tr>
        <td>Title</td>
        <td>##title##</td>
    </tr>
    <tr>
        <td>Authors</td>
        <td>##authorsList##</td>
    </tr>
    <tr>
        <td>PubMed Id</td>
        <td><a href="##baseURL##/idsolv/PM:##pubmed_id##" target="_blank">##pubmed_id##</a></td>
    </tr>
    <tr>
        <td>Links</td>
        <td>##linksList##</td>
</table>
</div>
