<div class="panel">
    <div class="panel-heading">
        <h1>Test Event</h1>
        <span class="label label-primary"><a style="color:#fff" href="../TestEvent/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="label label-warning"><a style="color:#fff" href="../TestEvent/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>##_id##</td>
        </tr>
        <tr>
            <td>Community</td>
            <td><a href="../Community/##community_id##.html">##community_id##</a></td>
        </tr>
        <tr>
            <td>Benchmarking event</td>
            <td><a href="../BenchmarkingEvent/##benchmarking_event_id##.html">##benchmarking_event_id##</a></td>
        </tr>
        <tr>
            <td>Tool</td>
            <td><a href="../Tool/##tool_id##.html">##tool_id##</a></td>
        </tr>
        <tr>
            <td>Datasets</td>
            <td>
                <table border="0">
                    <tr>
                        <td>Input:</td><td><a href="../Dataset/##input_dataset_id##.html">##input_dataset_id##</a></td>
                    </tr>
                    <tr>
                        <td>Output:</td><td><a href="../Dataset/##output_dataset_id##.html">##output_dataset_id##</a></td>
                    </tr>
                </table>
        </tr>
        <tr>
            <td>Result report</td>
            <td>##reports##</td>
        </tr>
        <tr>
            <td>Dates</td>
            <td>Creation: ##dates.creation##, Reception: ##dates.reception##</td>
        </tr>
    </table>
</div>
