<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel">
    <div class="panel-heading">
        <h2>Test Event</h2>
    </div>
    <div class="panel-body">
<table class="table">
    <tr>
        <td>Id</td>
        <td>##_id##</td>
    </tr>
    <tr>
        <td>Benchmarking event</td>
        <td><a href="##baseURL##/BenchmarkingEvent/##benchmarking_event_id##.html">##benchmarking_event_id##</a></td>
    </tr>
    <tr>
        <td>Tool</td>
        <td><a href="##baseURL##/Tool/##tool_id##.html">##tool_id##</a></td>
    </tr>
    <tr>
        <td>Input Dataset</td>
        <td><a href="##baseURL##/Dataset/##input_dataset_id##">##input_dataset_id##</a></td>
    </tr>
    <tr>
        <td>Result report</td>
        <td><table>
                <tr>
                    <td>Status</td>
                    <td>##result_report.status##</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>##result_report.date##</td>
                </tr>
                <tr>
                    <td>Report</td>
                    <td>##result_report.report##</td>
                </tr>
            </table></td>
    </tr>
    <tr>
        <td>Dates</td>
        <td>Creation: ##dates.creation##, Reception: ##dates.reception##</td>
    </tr>
</table>
</div>
</div>