<div class="panel">
    <div class="panel-heading">
        <h1>Tool</h1>
        <span class="btn btn-primary"><a style="color:#fff" href="../Tool/##_id##.json?extended=false" target="_blank">JSON</a></span>
        <span class="btn btn-warning"><a style="color:#fff" href="../Tool/##_id##.xml?extended=false" target="_blank">XML</a></span>
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>##_id##</td>
        </tr>
        <tr>
            <td>Id at bio.tools</td>
            <td><a href="../idsolv/BT:##bioTools_id##">##bioTools_id##</a></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>##name##</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>##description##</td>
        </tr>
        <tr>
            <td>Automated</td>
            <td>##is_automated##</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>##status_id##</td>
        </tr>
        <tr>
            <td>Communities</td>
            <td>##community_id##</td>
        </tr>
        <tr>
            <td>Contacts</td>
            <td>##tool_contact_id##</td>
        </tr>
        <tr>
            <td>References</td>
            <td>##references##</td>
        </tr>
        <tr>
            <td>Access URLs</td>
            <td>##accesslinkList##</td>
        </tr>
    </table>

</div>
