{
    "swagger": "2.0",
    "info": {
        "description": "Access to ELXIR benchmarking data store",
        "version": "1.0.1",
        "title": "ELIXIR Benchmarking platform. Data Store API"
    },
    "host": "elixir.bsc.es",
    "basePath": "/benchmarking",
    "schemes": ["https"],
    "produces": ["application/json", "text/html", "text/xml"],
    "paths": {
        "/Community": {
            "get": {
                "tags": ["Community"],
                "summary": "Benchmarking Communities",
                "description": "Information about Benchmarking communitites affiliated at the platform",
                "produces": ["text/plain"],
                "parameters": [
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Communities",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Community"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Community.{fmt}": {
            "get": {
                "tags": ["Community"],
                "summary": "Benchmarking Communities",
                "description": "Information about Benchmarking communitites affiliated at the platform",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [
                    {
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Communities",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Community"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Community/{id}": {
            "get": {
                "tags": ["Community"],
                "summary": "A benchmarking Community",
                "description": "Info about a given benchmarking community",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the community",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "a Community object",
                        "schema": {
                            "$ref": "#/definitions/Community"
                        }
                    },
                    "404": {
                        "description": "Community Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error404"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Community/{id}.{fmt}": {
            "get": {
                "tags": ["Community"],
                "summary": "A benchmarking Community",
                "description": "Info about a given benchmarking community",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the community",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "a Community object",
                        "schema": {
                            "$ref": "#/definitions/Community"
                        }
                    },
                    "404": {
                        "description": "Community Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error404"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/CommunityStatus.{fmt}": {
            "get": {
                "tags": ["Community"],
                "summary": "Possible Status for Benchmarking Communities",
                "description": "Possible values for Benchmarking communitites statuses",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [
                    {
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Communities Status",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CommunityStatus"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/CommunityStatus/{id}.{fmt}": {
            "get": {
                "tags": ["Community"],
                "summary": "Possible Status for Benchmarking Communities",
                "description": "Possible values for Benchmarking communitites statuses",
                "produces": ["application/json", "text/xml", "text/html"],
                "parameters": [{
                        "$ref": "#/parameters/fmt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Description of a Community Status",
                        "schema": {
                            "$ref": "#/definitions/CommunityStatus"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/BenchmarkingEvent.{fmt}": {
            "get": {
                "tags": ["Events"],
                "summary": "Benchmarking Events",
                "description": "Information about Benchmarking Events organized by Communitites affiliated at the platform",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Benchmarking Events",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CommunityStatus"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/BenchmarkingEvent/{id}.{fmt}": {
            "get": {
                "tags": ["Community"],
                "summary": "A benchmarking Event",
                "description": "Info about a given benchmarking Event",
                "parameters": [{
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Benchmarking Event",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Benchmarking Event object",
                        "schema": {
                            "$ref": "#/definitions/BenchmarkingEvent"
                        }
                    },
                    "404": {
                        "description": "Event Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Contact.{fmt}": {
            "get": {
                "tags": ["Contacts"],
                "summary": "Contact persons",
                "description": "Information about Contact personso from the Communities affiliated at the platform",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Benchmarking Events",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Contact/{id}.{fmt}": {
            "get": {
                "tags": ["Contacts"],
                "summary": "Contact Data",
                "description": "Info about a Contact",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Contact (givenname.surname)",
                        "required": true,
                        "type": "string"
                    }, {
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Contact object",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    },
                    "404": {
                        "description": "Contact Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Dataset.{fmt}": {
            "get": {
                "tags": ["Datasets"],
                "summary": "Datasets involved in Benchmarking",
                "description": "Information about Datasets used in benchmarking",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Datasets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Dataset"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Dataset/{id}.{fmt}": {
            "get": {
                "tags": ["Datasets"],
                "summary": "Dataset Data",
                "description": "Info about a Dataset",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Dataset",
                        "required": true,
                        "type": "string"
                    }, {
                        "$ref": "#/parameters/fmt"
                    },
                    {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Dataset object",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    },
                    "404": {
                        "description": "Dataset Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Metrics.{fmt}": {
            "get": {
                "tags": ["Metrics", "Datasets"],
                "summary": "Metrics used in benchmarking",
                "description": "Information about Metrics used by the Communities affiliated at the platform",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Metrics",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Metrics"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Metrics/{id}.{fmt}": {
            "get": {
                "tags": ["Metrics", "Datasets"],
                "summary": "Metrics Data",
                "description": "Info about a Metrics",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Metric",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Metrics object",
                        "schema": {
                            "$ref": "#/definitions/Metrics"
                        }
                    },
                    "404": {
                        "description": "Metrics Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Reference.{fmt}": {
            "get": {
                "tags": ["References"],
                "summary": "References",
                "description": "Information about published references",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of References",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reference"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Reference/{id}.{fmt}": {
            "get": {
                "tags": ["References"],
                "summary": "Reference Data",
                "description": "Info about a Reference",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Reference (DOI)",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Reference object",
                        "schema": {
                            "$ref": "#/definitions/Reference"
                        }
                    },
                    "404": {
                        "description": "Reference Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/TestEvent.{fmt}": {
            "get": {
                "tags": ["Events"],
                "summary": "Test Events (input + tool -> output)",
                "description": "Information about Performed tests",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of TestEvents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TestEvent"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/TestEvent/{id}.{fmt}": {
            "get": {
                "tags": ["Events"],
                "summary": "Test Event Data",
                "description": "Info about a Test Event",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the TestEvent",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a TestEvent object",
                        "schema": {
                            "$ref": "#/definitions/TestEvent"
                        }
                    },
                    "404": {
                        "description": "TestEvent Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error404"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Tool.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "Tools",
                "description": "Information about Tools",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Tools",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Tool"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Tool/{id}.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "Tool Data",
                "description": "Info about a Tool",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the Tool",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a Tool object",
                        "schema": {
                            "$ref": "#/definitions/Tool"
                        }
                    },
                    "404": {
                        "description": "Tool Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/ToolStatus.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "Tool Statuses",
                "description": "Information about Tools Status",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Tools Statuses",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ToolStatus"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/ToolStatus/{id}.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "ToolStatus Data",
                "description": "Info about a Tool Status",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the ToolStatus",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a ToolStatus object",
                        "schema": {
                            "$ref": "#/definitions/ToolStatus"
                        }
                    },
                    "404": {
                        "description": "ToolStatus Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/ToolAccessType.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "Tool AccessTypes",
                "description": "Information about Tool AccessTypes",
                "produces": ["application/json", "text/xml", "text/html", "text/plain"],
                "parameters": [{
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "query",
                        "in": "query",
                        "description": "Text Search query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "An array of Tools AccessTypes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ToolAccessType"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/ToolAccessType/{id}.{fmt}": {
            "get": {
                "tags": ["Tools"],
                "summary": "ToolAccessType Data",
                "description": "Info about a Tool AccessType",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "Unique Id of the ToolAccessType",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "fmtQuery",
                        "in": "query",
                        "description": "Output format (tab, json, xml, html)",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "extended",
                        "in": "query",
                        "description": "Provide extended information by denormalizing internal ids",
                        "required": false,
                        "type": "boolean"
                    }],
                "responses": {
                    "200": {
                        "description": "a ToolStatus object",
                        "schema": {
                            "$ref": "#/definitions/ToolAccessType"
                        }
                    },
                    "404": {
                        "description": "ToolAccessType Id not found Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Community": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/community.json"
        },
        "BenchmarkingEvent": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/benchmarkingEvent.json"
        },
        "Contact": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/contact.json"
        },
        "Dataset": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/dataset.json"
        },
        "CommunityStatus": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/communityStatus.json"
        },
        "Metrics": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/metrics.json"
        },
        "Reference": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/reference.json"
        },
        "TestEvent": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/testEvent.json"
        },
        "ToolAccessType": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/toolAccessType.json"
        },
        "Tool:": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/tool.json"
        },
        "ToolStatus": {
            "$ref": "https://elixir.bsc.es/benchmarking/APIDocs/json-schemas/toolStatus.json"
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "Error404": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "default": 404
                },
                "message": {
                    "type": "string",
                    "default": "Id not found"
                }
            }
        }
    },
    "parameters": {
        "fmt": {
            "name": "fmt",
            "in": "path",
            "description": "Output format (tab, json, xml, html)",
            "required": true,
            "type": "string",
            "default": "json"
        },
        "fmtQuery": {
            "name": "fmtQuery",
            "in": "query",
            "description": "Output format (tab, json, xml, html)",
            "required": false,
            "type": "string"
        },
        "textQuery": {
            "name": "query",
            "in": "query",
            "description": "Text Search query",
            "required": false,
            "type": "string"
        },
        "extendedInfo": {
            "name": "extended",
            "in": "query",
            "description": "Provide extended information by denormalizing internal ids",
            "required": false,
            "type": "boolean"
        }
    },
    "responses": {
        "default": {
            "description": "Unexpected error",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        }
    }
}